@media (max-width: 800px) {
    .header__nav-list {
        display: none;
    }
    .toggle-mobile {
        display: block;
    }
    .header__nav-logo {
        padding-left: 30px;
    }
    .fa-bars {
        font-size: 18px;
        color: #fff;
    }
    .block1 {
        display: none;
    }
    .header__nav-item a {
        padding-left: 8px;
    }
    .header__nav-item a span {
        left: 15px;
    }
    .text-drinks {
        position: absolute;
    }
    .text-drinks p {
        color: #fde021;
        background-color: unset;
    }
    .text-drinks h2 {
        color: rgba(255, 255, 255);
        font-size: 32px;
    }
    .block2 {
        padding-left: unset;
        padding-right: unset;
        padding-top: 23px;
    }
    .block2-content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: unset;
    }
    .block2-img {
        height: 100vw;
        width: 100%;
    }
    .block2-img img {
        height: 100%;
        width: 100%;
    }
    .opa-img::after,
    .opa-img::before {
        content: '';
        height: 100%;
        background-color: rgba(0, 0, 0, 1);
        width: 100%;
        position: absolute;
        opacity: .3;
        z-index: 999999999;
    }
    .text-cocktails h2 {
        padding-top: 10px;
        font-size: 32px;
        font-family: 'Absolut Sans Bold';
    }
    .text-cocktails p {
        color: #fde021;
        font-size: 16px;
    }
    .preview-cocktails {
        filter: brightness(66%);
    }
    .text-info3 {
        position: unset !important;
    }
    .text-info3 h3 {
        font-size: 16px !important;
        color: #0033a0 !important;
    }
    .text-info3 p {
        color: #d4318d !important;
    }
    .text-drinks3 {
        text-align: left;
        padding-top: 10px;
        padding-left: 10px;
    }
    .text-drinks3 p {
        color: #0033a0;
        padding-left: unset;
        padding-right: 20px;
        margin-left: unset;
        margin-right: unset;
        margin-top: 0px;
        background-color: unset;
    }
    .text-drinks3 h2 {
        padding-top: 10px;
        color: #ff00a5d9;
        font-size: 18px;
    }
    .vds-item {
        grid-template-columns: auto auto;
        grid-column-gap: 0px;
    }
    .vds-rico img {
        width: 90%;
    }
    .vds-rico {
        width: 100%;
    }
    .text-rico {
        text-align: left;
        padding-left: 18px;
    }
    .text-rico p {
        padding-right: unset;
        padding-left: unset;
        padding-top: 10px;
        margin-left: unset;
        margin-right: unset;
        margin-top: unset;
        text-align: left;
        background-color: unset;
    }
    /* ============ Block5 ================ */
    .text-info5 {
        text-align: center;
    }
    /* ============= Show us ================ */
    .showus__post {
        padding: 30px 15px;
    }
    .showus__title {
        max-width: 100%;
    }
    .showus__title h2 {
        font-size: 16px;
    }
    .showus__title p {
        font-size: 14px;
    }
    .showus__title a {
        font-size: 14px;
    }
    /* ================= Classic =============== */
    .featured-banner {
        width: 100%;
    }
    .featured-banner img {
        width: 100%;
    }
    .text-info {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 50%;
    }
    .text-info4 {
        position: unset;
    }
    .text-info4 h3 {
        color: #1947a9 !important;
        font-size: 16px !important;
    }
    .text-info4 p {
        color: #d4318d !important;
    }
    .text-info h3 {
        color: #fff;
        font-size: 25px;
    }
    .text-info p {
        color: #fde021;
    }
    /* ================= latest =============== */
    .latest-content {
        width: 90%;
    }
    .latest-content img {
        width: 100%;
    }
    .latest-content .text-info {
        display: unset;
        position: unset;
        text-align: left;
        padding-left: 10px;
    }
    .latest-content .text-info h3 {
        color: #0033a0;
        font-size: 16px;
    }
    .latest-content .text-info p {
        color: #ff00a5d9;
    }
    /* ================= Mixilogy =============== */
    .mixology__swiper {
        display: grid;
        margin: 20px;
        grid-template-columns: auto auto;
        grid-column-gap: 15px;
        grid-row-gap: 20px;
    }
    .text-mixi {
        padding-top: 10px;
        color: #0033a0;
    }
    .mixilogy__img {
        height: 80%;
        width: 100%;
    }
    .mixilogy__img img {
        width: 100%;
        height: 100%;
    }
    /* ================= Footer =============== */
    .footer__logo {
        padding: 10px 10px 20px;
    }
    .footer__nav {
        display: unset;
    }
    .footer__nav .list__item-contact {
        display: unset;
    }
    .footer__nav ul .list-item {
        padding: 0px 10px;
    }
    .line-mobile {
        display: inline-block;
        width: 100%;
    }
    .footer__nav ul li .line-mobile {
        color: #fff;
        opacity: unset;
        padding: 12px 0;
        border-top-style: solid;
        border-top-width: 1px;
        border-color: #091a6f;
    }
    .line3 {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-color: #091a6f;
    }
    .footer__nav .list__item-local {
        justify-content: center;
        padding: 25px 0 15px;
    }
    .border-pink {
        margin: 10px;
    }
    .d-none-mb {
        display: none !important;
    }
    .footer__policy {
        display: unset;
        justify-content: center;
    }
    .footer__policy ul {
        justify-content: center;
        margin-top: 35px;
        flex-wrap: wrap;
        row-gap: 10px;
    }
    .header__nav-list {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #0033a0;
        height: 100vh;
        padding-top: 20px;
    }
    .header__nav-list ul {
        display: unset
    }
    .header__nav-list ul li {
        padding: 10px 5px;
        border-top-style: solid;
        border-top-width: 1px;
        border-color: #091a6f;
    }
}